@charset "UTF-8";
.main-screen {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-screen .title {
  text-transform: capitalize;
}
.main-screen .main-screen-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.main-screen .main-screen-buttons .base-button ~ .base-button {
  margin-top: 1.8rem;
}
.game-screen {
  flex-grow: 1;
  width: auto;
  max-width: calc(100vh - 4.6rem);
  max-height: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-screen .info-panel {
  position: absolute;
  border: 0.2rem solid brown;
  border-radius: 0.2rem;
  background-color: #fff3e9;
  text-transform: capitalize;
  padding: 0.4rem;
  bottom: -3rem;
}
.game-screen .info-panel .points-increased {
  color: green;
}
.game-screen .info-panel .points-decreased {
  color: red;
}
.game-screen .info-panel .points-timer-warning {
  color: red;
}
.game-screen .gs-cheese {
  flex-grow: 1;
  width: auto;
  padding-top: 65%;
  position: relative;
  background: center center / 100% 100% no-repeat url(images/cheese-bck.svg);
}
.game-screen .gs-cheese-base {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: center center / 100% 100% no-repeat url(images/cheese-base.svg);
}
.game-screen .game-char {
  left: 0;
  bottom: 0;
  width: 15%;
  height: 30%;
  position: absolute;
  overflow: hidden;
  display: flex;
  pointer-events: none;
}
.game-screen .game-char .gs-char {
  position: relative;
  margin: auto auto 0 auto;
}
.game-screen .game-char .gs-char .gs-char-image {
  cursor: pointer;
}
.game-screen .game-char .gs-char-mouse {
  width: 80%;
  height: 65%;
}
.game-screen .game-char .gs-char-mouse-1 .gs-char-image {
  background: center center / 100% 100% no-repeat url(images/mouse-1.svg);
}
.game-screen .game-char .gs-char-mouse-2 .gs-char-image {
  background: center center / 100% 100% no-repeat url(images/mouse-2.svg);
}
.game-screen .game-char .gs-char-mouse-3 .gs-char-image {
  background: center center / 100% 100% no-repeat url(images/mouse-3.svg);
}
.game-screen .game-char .gs-char-cat {
  width: 100%;
  height: 100%;
}
.game-screen .game-char .gs-char-cat-1 .gs-char-image {
  background: center center / 100% 100% no-repeat url(images/cat-1.svg);
}
.game-screen .game-char .gs-char-cat-2 .gs-char-image {
  background: center center / 100% 100% no-repeat url(images/cat-2.svg);
}
.game-screen .game-char .gs-char-cat-3 .gs-char-image {
  background: center center / 100% 100% no-repeat url(images/cat-3.svg);
}
.game-screen .game-char .gs-char .gs-char-image {
  pointer-events: all;
  position: absolute;
  top: 100%;
  bottom: 0;
  width: 100%;
  transition-property: top;
}
.board-screen {
  flex-grow: 1;
  width: auto;
  max-width: calc(100vh - 7.6rem);
  max-height: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-screen .board-panel,
.board-screen .info-panel {
  position: relative;
  border: 0.2rem solid brown;
  border-radius: 0.2rem;
  text-transform: capitalize;
  font-size: 1.8rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #fff3e9;
}
.board-screen .board-panel .points,
.board-screen .info-panel .points {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.8rem;
}
.board-screen .board-panel .points-title,
.board-screen .info-panel .points-title {
  padding: 0.8rem 4rem;
}
.board-screen .board-panel .points-records,
.board-screen .info-panel .points-records {
  max-height: calc(100vh - 11rem);
  overflow: auto;
  width: 100%;
}
.board-screen .board-panel .points-record,
.board-screen .info-panel .points-record {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  text-transform: none;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.8rem;
}
.board-screen .board-panel .name,
.board-screen .info-panel .name {
  width: 100%;
  height: 2rem;
  padding: 0.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.board-screen .board-panel .name input,
.board-screen .info-panel .name input {
  border: 0.2rem solid brown;
  border-radius: 0.2rem;
  color: brown;
}
.board-screen .board-panel .points-buttons,
.board-screen .info-panel .points-buttons {
  width: 100%;
  padding: 0.4rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.lang-switch {
  text-transform: uppercase;
  cursor: pointer;
}
html {
  /**--------------------------------------------------------------------------
  * 62.5% of 16px = 10px so 1.6rem = 16px
  16px = usual default base font size of the browser
  fontSizeSmall(=1.3rem) used as default font size in the app eqauls to 13px
  --------------------------------------------------------------------------*/
  font-size: 62.5%;
  /**--------------------------------------------------------------------------
  * for touch mode, the font-size is set to 78.125% in the code. $("html").css("font-size", '78.125%');
  78.125% of 16px = 12.5px, so fontSizeSmall(=1.3rem) used in the app eqauls to 16.25px
  16.25px is also the font size in the app (1.3rem) in the destkop mode after setting the font size in the browser to 20px (large in chrome)
  --------------------------------------------------------------------------*/
  height: 100%;
}
body {
  font: normal 1.3rem Helvetica, Arial, tahoma, sans-serif;
  color: brown;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
}
#header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fddabc;
  box-shadow: 0 0.4rem 0.4rem 0px #fddabc;
  height: 2.8rem;
  font-size: 1.8rem;
  position: relative;
}
#header .title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  height: 2.8rem;
}
#header .lang-switch {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.4rem;
  font-size: 1.2rem;
}
#header .lang-switch .ember-basic-dropdown,
#header .lang-switch .ember-power-select-trigger,
#header .lang-switch .ember-basic-dropdown-content {
  border-color: brown;
}
#header .lang-switch .ember-basic-dropdown,
#header .lang-switch .ember-power-select-trigger {
  height: 2rem;
}
#header .lang-switch .ember-power-select-status-icon {
  border-color: brown transparent transparent transparent;
}
#header .lang-switch .ember-power-select-option[aria-selected="true"] {
  background-color: #fddabc;
  color: brown;
}
#header .lang-switch .ember-power-select-option[aria-current="true"] {
  background-color: #fff3e9;
  color: brown;
}
#bck {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: center center url(images/cheese-part-bck.svg);
  filter: blur(0.8rem);
  -webkit-filter: blur(0.8rem);
  opacity: 0.4;
}
#main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fddabc;
  box-shadow: 0 0.4rem 0.4rem 0px #fddabc;
  height: 1.8rem;
  font-size: 1rem;
  position: relative;
}
#footer .title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  height: 1.8rem;
  color: brown;
}
#footer a {
  color: brown;
}
.base-button {
  border: 0.2rem solid brown;
  border-radius: 0.2rem;
  background-color: brown;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
.base-button:not(.floating-button-close) {
  padding: 0.4rem 0.8rem;
  min-width: 10rem;
}
.base-button.floating-button-close {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}
.base-button.secondary-button {
  background-color: white;
  color: brown;
}
.base-button:disabled {
  background-color: #877b70;
  border-color: #877b70;
}
.base-button.secondary-button:disabled {
  background-color: white;
  border-color: #877b70;
  color: #877b70;
}
.ember-basic-dropdown {
  position: relative;
}
.ember-basic-dropdown,
.ember-basic-dropdown-content,
.ember-basic-dropdown-content * {
  box-sizing: border-box;
}
.ember-basic-dropdown-content {
  position: absolute;
  width: auto;
  z-index: 1000;
  background-color: #fff;
}
.ember-basic-dropdown-content--left {
  left: 0;
}
.ember-basic-dropdown-content--right {
  right: 0;
}
.ember-basic-dropdown-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  pointer-events: none;
}
.ember-basic-dropdown-content-wormhole-origin {
  display: inline;
}
.ember-power-select-dropdown * {
  box-sizing: border-box;
}
.ember-power-select-trigger {
  position: relative;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  border-radius: 4px;
  background-color: #ffffff;
  line-height: 1.75;
  overflow-x: hidden;
  text-overflow: ellipsis;
  min-height: 1.75em;
  user-select: none;
  -webkit-user-select: none;
  color: inherit;
  /* Minimum clearfix for modern browsers */
}
.ember-power-select-trigger:after {
  content: "";
  display: table;
  clear: both;
}
.ember-power-select-trigger:focus,
.ember-power-select-trigger--active {
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  box-shadow: none;
}
.ember-basic-dropdown-trigger--below.ember-power-select-trigger[aria-expanded="true"],
.ember-basic-dropdown-trigger--in-place.ember-power-select-trigger[aria-expanded="true"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ember-basic-dropdown-trigger--above.ember-power-select-trigger[aria-expanded="true"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.ember-power-select-placeholder {
  color: #999999;
  display: block;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ember-power-select-status-icon {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-style: solid;
  border-width: 7px 4px 0 4px;
  border-color: #aaaaaa transparent transparent transparent;
}
.ember-basic-dropdown-trigger[aria-expanded="true"] .ember-power-select-status-icon {
  transform: rotate(180deg);
}
.ember-power-select-clear-btn {
  position: absolute;
  cursor: pointer;
}
.ember-power-select-trigger-multiple-input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  display: inline-block;
  line-height: inherit;
  -webkit-appearance: none;
  outline: none;
  padding: 0;
  float: left;
  background-color: transparent;
  text-indent: 2px;
  /* There's a browser bug where this selectos cannot be chained with commas */
}
.ember-power-select-trigger-multiple-input:disabled {
  background-color: #eeeeee;
}
.ember-power-select-trigger-multiple-input::placeholder {
  opacity: 1;
  color: #999999;
}
.ember-power-select-trigger-multiple-input::-webkit-input-placeholder {
  opacity: 1;
  color: #999999;
}
.ember-power-select-trigger-multiple-input::-moz-placeholder {
  opacity: 1;
  color: #999999;
}
.ember-power-select-trigger-multiple-input::-ms-input-placeholder {
  opacity: 1;
  color: #999999;
}
.ember-power-select-multiple-options {
  padding: 0;
  margin: 0;
}
.ember-power-select-multiple-option {
  border: 1px solid gray;
  border-radius: 4px;
  color: #333333;
  background-color: #e4e4e4;
  padding: 0 4px;
  display: inline-block;
  line-height: 1.45;
  float: left;
  margin: 2px 0 2px 3px;
}
.ember-power-select-multiple-remove-btn {
  cursor: pointer;
}
.ember-power-select-multiple-remove-btn:not(:hover) {
  opacity: 0.5;
}
.ember-power-select-search {
  padding: 4px;
}
.ember-power-select-search-input {
  border: 1px solid #aaaaaa;
  border-radius: 0;
  width: 100%;
  font-size: inherit;
  line-height: inherit;
  padding: 0 5px;
}
.ember-power-select-search-input:focus {
  border: 1px solid #aaaaaa;
  box-shadow: none;
}
.ember-power-select-dropdown {
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  line-height: 1.75;
  border-radius: 4px;
  box-shadow: none;
  overflow: hidden;
  color: inherit;
}
.ember-power-select-dropdown.ember-basic-dropdown-content--above {
  border-top: 1px solid #aaaaaa;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ember-power-select-dropdown.ember-basic-dropdown-content--below,
.ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
  border-top: none;
  border-bottom: 1px solid #aaaaaa;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
  width: 100%;
}
.ember-power-select-options {
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
}
.ember-power-select-options[role="listbox"] {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 12.25em;
}
.ember-power-select-option {
  cursor: pointer;
  padding: 0 8px;
}
.ember-power-select-group[aria-disabled="true"] {
  color: #999999;
  cursor: not-allowed;
}
.ember-power-select-group[aria-disabled="true"] .ember-power-select-option,
.ember-power-select-option[aria-disabled="true"] {
  color: #999999;
  pointer-events: none;
  cursor: not-allowed;
}
.ember-power-select-option[aria-selected="true"] {
  background-color: #dddddd;
}
.ember-power-select-option[aria-current="true"] {
  background-color: #5897fb;
  color: #ffffff;
}
.ember-power-select-group-name {
  cursor: default;
  font-weight: bold;
}
.ember-power-select-trigger[aria-disabled=true] {
  background-color: #eeeeee;
}
.ember-power-select-trigger {
  padding: 0 16px 0 0;
}
.ember-power-select-selected-item,
.ember-power-select-placeholder {
  margin-left: 8px;
}
.ember-power-select-status-icon {
  right: 5px;
}
.ember-power-select-clear-btn {
  right: 25px;
}
.ember-power-select-group .ember-power-select-group .ember-power-select-group-name {
  padding-left: 24px;
}
.ember-power-select-group .ember-power-select-group .ember-power-select-option {
  padding-left: 40px;
}
.ember-power-select-group .ember-power-select-option {
  padding-left: 24px;
}
.ember-power-select-group .ember-power-select-group-name {
  padding-left: 8px;
}
.ember-power-select-trigger[dir=rtl] {
  padding: 0 0 0 16px;
}
.ember-power-select-trigger[dir=rtl] .ember-power-select-selected-item,
.ember-power-select-trigger[dir=rtl] .ember-power-select-placeholder {
  margin-right: 8px;
}
.ember-power-select-trigger[dir=rtl] .ember-power-select-multiple-option {
  float: right;
}
.ember-power-select-trigger[dir=rtl] .ember-power-select-trigger-multiple-input {
  float: right;
}
.ember-power-select-trigger[dir=rtl] .ember-power-select-status-icon {
  left: 5px;
  right: initial;
}
.ember-power-select-trigger[dir=rtl] .ember-power-select-clear-btn {
  left: 25px;
  right: initial;
}
.ember-power-select-dropdown[dir=rtl] .ember-power-select-group .ember-power-select-group .ember-power-select-group-name {
  padding-right: 24px;
}
.ember-power-select-dropdown[dir=rtl] .ember-power-select-group .ember-power-select-group .ember-power-select-option {
  padding-right: 40px;
}
.ember-power-select-dropdown[dir=rtl] .ember-power-select-group .ember-power-select-option {
  padding-right: 24px;
}
.ember-power-select-dropdown[dir=rtl] .ember-power-select-group .ember-power-select-group-name {
  padding-right: 8px;
}
/*# sourceMappingURL=/assets/catch-the-mouse.css.map */