<div id='header'>
  <span class='title'>{{loc '_main_title'}}</span>
  {{lang-switch}}
</div>
<div id='main'>
  {{main-screen}}
</div>
<div id='footer'>
  <span class='title'>© 2021 Boland&nbsp;-&nbsp;</span>
  <a href='mailto:boland.store@gmail.com'>boland.store@gmail.com</a>
  <span class='title'>&nbsp;-&nbsp;{{loc '_all_rights_reserved'}}</span>
</div>
